<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>Controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomSearchServlet</servlet-name>
        <servlet-class>Controller.RoomSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProfile</servlet-name>
        <servlet-class>Controller.ManageProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>Controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterRoomServlet</servlet-name>
        <servlet-class>Controller.RegisterRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>Controller.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentViewRegistrationServlet</servlet-name>
        <servlet-class>Controller.StudentViewRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRoomRegistrationServlet</servlet-name>
        <servlet-class>Controller.ManageRoomRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRoomServlet</servlet-name>
        <servlet-class>Controller.ManageRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomServlet</servlet-name>
        <servlet-class>Controller.UpdateRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomServlet</servlet-name>
        <servlet-class>Controller.AddRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomServlet</servlet-name>
        <servlet-class>Controller.DeleteRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeRequestServlet</servlet-name>
        <servlet-class>Controller.TypeRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendChangeRoomServlet</servlet-name>
        <servlet-class>Controller.SendChangeRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeManageRequestServlet</servlet-name>
        <servlet-class>Controller.TypeManageRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptChangeRoomServlet</servlet-name>
        <servlet-class>Controller.AcceptChangeRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteChangeRoomServlet</servlet-name>
        <servlet-class>Controller.DeleteChangeRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComplainSeverlet</servlet-name>
        <servlet-class>Controller.ComplainSeverlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProfile</servlet-name>
        <url-pattern>/ManageProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomSearchServlet</servlet-name>
        <url-pattern>/RoomSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterRoomServlet</servlet-name>
        <url-pattern>/RegisterRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentViewRegistrationServlet</servlet-name>
        <url-pattern>/StudentViewRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRoomRegistrationServlet</servlet-name>
        <url-pattern>/ManageRoomRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRoomServlet</servlet-name>
        <url-pattern>/ManageRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomServlet</servlet-name>
        <url-pattern>/UpdateRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomServlet</servlet-name>
        <url-pattern>/AddRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomServlet</servlet-name>
        <url-pattern>/DeleteRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeRequestServlet</servlet-name>
        <url-pattern>/TypeRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendChangeRoomServlet</servlet-name>
        <url-pattern>/SendChangeRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeManageRequestServlet</servlet-name>
        <url-pattern>/TypeManageRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptChangeRoomServlet</servlet-name>
        <url-pattern>/AcceptChangeRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteChangeRoomServlet</servlet-name>
        <url-pattern>/DeleteChangeRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComplainSeverlet</servlet-name>
        <url-pattern>/ComplainSeverlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
